*,
*::after,
*::before{
    box-sizing: border-box;
}
:root{
    --bg-color: #d9d9d947;
}

.card-one{
    color: white;
    background-image: url(/Images/boy-3566903_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    font-weight: bold;
    max-width: 35ch;
    overflow: hidden;
}

.card-two{
    color: white;
    background-image: url(/Images/girl-286818_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    font-weight: bold;
    max-width: 35ch;
    overflow: hidden;

}
.card-three{
    color: white;
    background-image: url(/Images/no-money-2070384_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 0 0;
    font-weight: bold;
    max-width: 35ch;
    overflow: hidden;

}
.card-four{
    color: white;
    background-image: url(/Images/white-926838_1280.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    font-weight: bold;
    max-width: 35ch;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;

}
.card-five{
    color: white;
    background-image: url(/Images/t-shirt-1278404_1280.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    font-weight: bold;
    max-width: 35ch;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;

}
.card-six{
    color: white;
    background-image: url(/Images/business-2049312_1280.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    font-weight: bold;
    max-width: 35ch;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;

}
.card-seven{
    color: white;
    background-image: url(/Images/blue-jeans-2160265_1280.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    font-weight: bold;
    max-width: 35ch;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;

}
.card-eight{
    color: white;
    background-image: url(/Images/baby-shoes-505471_1280.jpg);
    background-size: cover;
    padding: 10rem 0 0;
    font-weight: bold;
    max-width: 35ch;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;

}

.card-content{
    width: 100%;
    --padding:1.5rem;
    padding: var(--padding);
    background:linear-gradient(
    hsl(0 0% 0% / 0),    
    hsl(20 0% 0% / 0.3) 20%,
    hsl(0 0% 0% / 1)    

    );
    .card-title{
        position:relative;
        width: max-content;
    }
    .card-title::after{
        content: "";
        position:absolute;
        height: 4px;
        left: calc(var(--padding) * -1);
        bottom: -2px;
        width: calc(100% + var(--padding));
        background-color: var(--bg-color);

    }
}
.button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--bg-color);
    background-color: black;
    padding: 0.5em 1.25em;
}
  .button:hover,
.button:focus{
    background-color: white;


}

/*
@media only screen and (min-width: 1200px){

    .card-one{
        color: white;
        background-size: cover;
        margin: 10rem  0 0;
        font-weight: bold;
        max-width: 35ch;
        overflow: hidden;
        transition: transform 500ms ease;

    }
    
    .card-content{
        --padding:1.5rem;
        padding: var(--padding);
        background:linear-gradient(
        hsl(0 0% 0% / 0),    
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)    
    
        );
        transform: translateY(10%);
        transition: transform 500ms ease;
    }
    
  
    .card-title::after{
        content: "";
        position:absolute;
        height: 4px;
        left: calc(var(--padding) * -1);
        bottom: -2px;
        width: calc(100% + var(--padding));
        background-color: var(--bg-color);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 500ms ease;
    }
    
    .card-body{
        color: rgb(255, 255, 255/ 0.85)}
    .button{
        cursor: pointer;
        display: inline;
        text-decoration: none;
        color: var(--bg-color);
        background-color: black;
        padding: 0.5em 1.25em;
    }

.card:hover .card-title:after{
    transform: scaleX(1);
}

  
    .card-content{
        transform: translateY(30%);
        transition: transform 500ms ease;

    }
    .card-content > *:not(.card-title){
        opacity: 0;
        transition: opacity 500ms linear;
    }
    .card:hover .card-content,
    .card:focus-within .card-content{
        transform: translateY(0);
        transition-delay: 500ms;
    }
    
    .card:focus-within .card-content{
        transition-duration: 0ms;
    }
  
    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content> *:not(.card-title){
        opacity: 1;
        transition-delay:1000ms ;
    }
    .card-title::after{
        transform: scaleX(0);

    }
}
*/
